<%= form_for(@opening_software) do |f| %>
  <% if @opening_software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opening_software.errors.count, "error") %> prohibited this opening_software from being saved:</h2>

      <ul>
      <% @opening_software.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :opening_id %><br>
    <%= f.text_field :opening_id %>
  </div>
  <div class="field">
    <%= f.label :software_id %><br>
    <%= f.text_field :software_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
