<%= render 'partials/menu' %>
<div class="container-fluid">
  <div class="edit-profile">
    <div class="col col-xs-12 edit-profile-container box-content">
      <div class="row">
        <div class="col col-sm-3 profile-settings">
          <ul>
            <li class="active">Edit Profile</li>
            <%= link_to user_edit_path do %>
              <li>Account settings</li>
            <% end %>
          </ul>
        </div>
        <div class="col col-sm-9 edit-profile-settings">
          <div class="edit-profile-content">
            <%= form_for @dev, url: dev_update_path, html: { multipart: true }, method: :put, id: "edit_dev" do |form| %>
              <%= form.hidden_field :id, value: @dev.id %>
              <%= form.fields_for :user do |user| %>

                <div class="row form-elem-edit">
                   <div class="col-md-6">
                    <div class="iNd-input">
                      <%= user.label :firstname, "First name"%>
                      <%= user.text_field :firstname %>
                      <% @dev.user.errors[:firstname].each do |message| %>
                        <p class="error"><%= message %></p>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="iNd-input">
                      <%= user.label :lastname, "Last name"%>
                      <%= user.text_field :lastname %>
                      <% @dev.user.errors[:lastname].each do |message| %>
                        <p class="error"><%= message %></p>
                      <% end %>
                    </div>
                  </div>
                </div>

              <% end %>
              <div class="avatar-upload">
                <%= label_tag :avatar, "Profile", class: "label-form" %>
                <div class="options-form-flex">
                  <img class="img-circle profile-img" src="<%= @dev.avatar.url(:medium) %>">
                  <div class="upload-fake">
                    <div class="avatar-input">
                      <%= form.file_field :avatar %>
                      <p class="file-name"></p>
                    </div>
                  <div class="fakefile">
                    <input />
                    <span class="btn-cta">Upload</span>
                  </div>
                  </div>
                </div>
                <% @dev.user.errors[:avatar].each do |message| %>
                  <p class="error"><%= message %></p>
                <% end %>
              </div>
              <div class="banner-upload">
                <%= label_tag :banner, "Banner", class: "label-form" %>
                <div class="options-form-flex">
                  <img class="banner-img" src="<%= @dev.banner.url(:display) %>">
                  <div class="upload-fake">
                    <div class="banner-input">
                      <%= form.file_field :banner %>
                      <p class="file-name"></p>
                    </div>
                  <div class="fakefile">
                    <input />
                    <span class="btn-cta">Upload</span>
                  </div>
                  </div>
                </div>
                <% @dev.user.errors[:banner].each do |message| %>
                  <p class="error"><%= message %></p>
                <% end %>
              </div>



              <%= label_tag :description, "About", class: "label-form" %>
              <%= form.text_area :description, size: "40x5", class: "options-form" %>
              <br>

              <label for="conditions" class="label-form">Conditions</label>

              <div class="options-form">
                <% Condition.all.each do |condition| %>
                  <div>
                    <%= check_box_tag :condition_ids, condition.id, @dev.conditions.include?(condition), name: "dev[condition_ids][]", id: "condition-#{condition.id}" %>
                    <%= label_tag :condition_ids, for: "condition-#{condition.id}" do %>
                      <span></span><%= condition.name%>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="custom-list-selectbox" id="language-selectbox">
                <%= label_tag :languages, "Languages",class: "label-form" %>
                <%= form.collection_select(
                  :languages,
                  LanguageList::COMMON_LANGUAGES,
                  :iso_639_1,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: "options-form lang-select"
                  }
                )%>
              </div>

            <div class="involvment">
              <label for="conditions" class="label-form">Involvment</label>
              <div class="options-form availabilities-container">
                <%= render partial: 'availabilities', locals: {availabilities: @dev.availabilities, dev: @dev} %>
              </div>
            </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :main_skill_id, "Primary Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :main_skill_id,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {class: "options-form primary-skills-select"}
                )%>
              </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :major_skill_ids, "Major Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :major_skill_ids,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {
                    multiple: true,
                    class: "options-form major-skills-select"
                  }
                )%>
              </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :minor_skill_ids, "Minor Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :minor_skill_ids,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {
                    multiple: true,
                    class: "options-form minor-skills-select"
                  }
                )%>
              </div>

              <div class="custom-list-selectbox" id="software-selectbox">
                <%= label_tag :softwares, "Softwares", class: "label-form" %>
                <%= form.collection_select(
                  :software_ids,
                  Software.all,
                  :id,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: "options-form softwares-select"
                  }
                )%>
              </div>

              <div class="form-socials">
                <label for="socials" class="label-form">Elsewhere on the web</label>
                <div class="options-form">
                  <div class="iNd-input">
                  <%= label_tag :portfolio_link %>
                  <%= form.text_field :portfolio_link%>
                  </div>
                  <% @dev.attributes.each do |n, v|%>
                    <% if n.include? "handle" %>
                    <div class="iNd-input">
                      <%= label_tag n.to_sym, n.gsub(/_handle/, "").capitalize %>
                      <%= form.text_field n.to_sym%>
                    </div>
                    <% end %>
                  <% end %>
                  <div class="iNd-input">
                  <%= label_tag :linkedin_link %>
                  <%= form.text_field :linkedin_link%>
                  </div>
                </div>
              </div>
              <a onclick="document.getElementById('edit_dev_<%=@dev.id%>').submit(); return false" class="btn-cta btn-icon" href="#">
                <span><i class="fa fa-floppy-o"></i></span> Submit
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
