<%= render 'partials/menu' %>
<div class="container">
  <div class="row edit-profile">
    <div class="col col-sm-10 col-sm-offset-1 edit-profile-container box-content">
      <div class="row">
        <div class="col col-sm-3">
          <ul>
            <li class="active">Edit Dev information</li>
            <li>Account settings</li>
          </ul>
        </div>
        <div class="col col-sm-9 edit-profile-settings">
          <div class="edit-profile-content">
            <%= form_for @dev, url: dev_path, html: { multipart: true }, method: :put do |form| %>
              <%= form.hidden_field :id, value: @dev.id %>
              <%= label_tag :avatar, "Profile", class: "label-form" %>
              <%= form.file_field :avatar %>

              <%= label_tag :banner, "Banner", class: "label-form" %>
              <%= form.file_field :banner %>

              <%= label_tag :description, "About", class: "label-form" %>
              <%= form.text_area :description, size: "40x5", class: "options-form" %>
              <br>

              <label for="conditions" class="label-form">Conditions</label>

              <div class="options-form">
                <% Condition.all.each do |condition| %>
                  <div>
                    <%= check_box_tag :condition_ids, condition.id, @dev.conditions.include?(condition), name: "dev[condition_ids][]", id: "condition-#{condition.id}" %>
                    <%= label_tag :condition_ids, for: "condition-#{condition.id}" do %>
                      <span></span><%= condition.name%>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="custom-list-selectbox" id="language-selectbox">
                <%= label_tag :languages, "Languages",class: "label-form" %>
                <%= form.collection_select(
                  :languages,
                  LanguageList::COMMON_LANGUAGES,
                  :iso_639_1,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: "options-form chosen-select"
                  }
                )%>
              </div>

            <div class="involvment">
              <label for="conditions" class="label-form">Involvment</label>
              <div class="options-form availabilities-container">
                <%= render partial: 'availabilities', locals: {availabilities: @dev.availabilities, dev: @dev} %>
              </div>
            </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :main_skill_id, "Primary Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :main_skill_id,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {class: "chosen-select options-form"}
                )%>
              </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :main_skill_id, "Major Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :major_skill_ids,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {
                    multiple: true,
                    class: "chosen-select options-form"
                  }
                )%>
              </div>

              <div class="custom-list-selectbox" >
                <%= label_tag :main_skill_id, "Minor Skills", class: "label-form" %>
                <%= form.grouped_collection_select(
                  :minor_skill_ids,
                  Role.all,
                  :skills,
                  :code,
                  :id,
                  :long_name,
                  {},
                  {
                    multiple: true,
                    class: "chosen-select options-form"
                  }
                )%>
              </div>

              <div class="custom-list-selectbox" id="language-selectbox">
                <%= label_tag :softwares, "Softwares", class: "label-form" %>
                <%= form.collection_select(
                  :software_ids,
                  Software.all,
                  :id,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: "options-form chosen-select"
                  }
                )%>
              </div>

              <div class="form-socials">
                <label for="socials" class="label-form">Elsewhere on the web</label>
                <div class="options-form">
                  <% @dev.attributes.each do |n, v|%>
                    <% if n.include? "handle" %>
                      <%= label_tag n.to_sym, n.gsub(/_handle/, "").capitalize %>
                      <%= form.text_field n.to_sym %>
                    <% end %>
                  <% end %>
                  <%= label_tag :linkedin_link %>
                  <%= form.text_field :linkedin_link %>
                </div>
              </div>

              <%= submit_tag("Submit", class: "btn-cta") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
