<p id="notice"><%= notice %></p>

<h1>Listing Devs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Role</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devs.each do |dev| %>
      <tr>
        <td><%= dev.name %></td>
        <td><%= dev.description %></td>
        <td><%= dev.role %></td>
        <td><%= dev.availability %></td>
        <td><%= link_to 'Show', dev %></td>
        <td><%= link_to 'Edit', edit_dev_path(dev) %></td>
        <td><%= link_to 'Destroy', dev, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dev', new_dev_path %>
