<div class="profile">
<div class="group-color group-<%= @dev.role.code %>"></div>
  <div class="profile-header" style="background-image: url(<%= @dev.banner.url(:display) %>);">
  </div>
  <div class="container profile-header-info">
    <div class="col col-sm-3 desktop"></div>
    <div class="col col-sm-6 desktop">
      <h2><%= "#{@dev.user.firstname} #{@dev.user.lastname}" %></h2>
    </div>
    <div class="col col-sm-3 desktop"></div>
    <div class="social desktop">
    <ul>
      <% @dev.attributes.each do |n, v|%>
        <% if n.include?("handle") || n.include?("link") then%>
          <% if !v.empty? then%>
            <li><a href="<%=Dev.social_link_for_field(n.to_sym, v)%>"><i class="fa <%=Dev.css_class_for_field(n.to_sym)%>"></i></a></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    </div>
  </div>
  <div class="container">
    <div class="profile-content row">
      <div class="col col-sm-3 about">
        <div class="profile-picture">
          <img class="img-circle" src="<%= @dev.avatar.url(:medium) %>">
        </div>
        <div class="mobile">
          <h2><%= "#{@dev.user.firstname} #{@dev.user.lastname}" %></h2>
          <div class="social"></div>
        </div>
        <div class="message-btn">
          <a href="#" class="btn-cta message-link"><i class="fa fa-envelope"></i>Message</a>
          <a href="#" class="favorite-link"><i class="fa fa-star-o"></i></a>
        </div>
        <h4>About</h4>
        <p>
          <%= @dev.description %>
        </p>
        <h4>Conditions</h4>
        <ul>
          <% @dev.conditions.each do |condition| %>
            <li><%= condition.name %></li>
          <% end %>
        </ul>
        <h4>Availabilities</h4>
        <p>
          some availabilities
        </p>
      </div>
      <div class="col col-sm-6 profile-skills">
        <div class="main-skill group-<%= @dev.role.code %>"><p>2D artist</p></div>
        <table class="skill-table">
          <tr>
            <td>
              <h3>Skills</h3>
            </td>
            <td>
              <h3>Role</h3>
            </td>
          </tr>
          <tr>
            <%@dev.major_skills_by_role.each do |skill|%>
              <td class="skill-table-name"><i class="fa fa-circle"></i><%= skill.long_name %></td>
              <td class="skill-table-role role-<%= skill.role.code %>"><%= skill.role.code %></td>
          </tr>
          <%end%>
        </table>
        <table class="skill-table skill-table-tertiary">
          <tr>
            <%@dev.minor_skills_by_role.each do |skill|%>
              <td class="skill-table-name"><i class="fa fa-circle-o"></i><%= skill.long_name %></td>
              <td class="skill-table-role role-<%= skill.role.code %>"><%= skill.role.code %></td>
          </tr>
          <%end%>
        </table>
        <div class="skill-table-legend">
          <p><i class="fa fa-circle"></i> Secondary Skills</p>
          <p><i class="fa fa-circle-o"></i> Tertiary Skills</p>
        </div>
      </div>
      <div class="col col-sm-3 portfolio">
        <a class="btn-cta" href="#"><i class="fa fa-link"></i> Portfolio</a>
        <div class="profile-softwares">
          <h3>Softwares</h3>
          <ul>
            <%@dev.minor_skills_by_role.each do |software|%>
            <li><%= software.long_name %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
