<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dev.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dev.description %>
</p>

<p>
  <strong>Role:</strong>
  <%= @dev.role %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @dev.availability %>
</p>

<%= link_to 'Edit', edit_dev_path(@dev) %> |
<%= link_to 'Back', devs_path %>
