<%= render 'partials/menu' %>
<div class="profile">
<div class="group-color group-<%= @dev.role.code %>"></div>
  <div class="profile-header" style="background-image: url(<%= @dev.banner.url(:display) %>);">
  </div>
  <div class="container profile-header-info">
    <div class="col col-sm-3 desktop"></div>
    <div class="col col-sm-6 desktop">
      <h2><%= "#{@dev.user.firstname} #{@dev.user.lastname}" %></h2>
    </div>
    <div class="col col-sm-3 desktop"></div>
    <% externals = @dev.external_sites_attributes %>
    <% if !externals.empty? then %>
      <div class="social desktop">
        <ul>
          <% externals.each do |n, v|%>
              <li><a href="<%=Dev.social_link_for_field(n.to_sym, v)%>" target="_blank"><i class="fa <%=Dev.css_class_for_field(n.to_sym)%>"></i></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="container">
    <div class="profile-content row">
      <div class="col col-sm-3 about">
        <div class="profile-picture">
          <img class="img-circle" src="<%= @dev.avatar.url(:medium) %>">
        </div>
        <div class="mobile">
          <h2><%= "#{@dev.user.firstname} #{@dev.user.lastname}" %></h2>
          <div class="social"></div>
        </div>
        <div class="message-btn">
          <a href="#" class="btn-cta message-link"><i class="fa fa-envelope"></i>Message</a>
          <a href="#" class="favorite-link"><i class="fa fa-star-o"></i></a>
        </div>
        <% if @dev.description? %>
          <h4>About</h4>
          <p>
            <%= @dev.description %>
          </p>
        <% end %>
        <% if !@dev.conditions.empty? %>
          <h4>Conditions</h4>
          <ul>
            <% @dev.conditions.each do |condition| %>
              <li><%= condition.name %></li>
            <% end %>
          </ul>
        <% end %>
        <% if !@dev.availabilities.empty? %>
          <h4>Availabilities</h4>
          <ul class="profile-availability">
            <% @dev.availabilities.each do |availability|%>
              <li>
                <ul>
                  <li><span><i class="fa fa-calendar"></i></span><%= availability.project_size.text %></li>
                  <% if availability.project_size.need_involvement %>
                    <li><span><i class="fa fa-clock-o"></i></span><%= availability.as_sentence %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col col-sm-6 profile-skills">
        <% if @dev.role && @dev.main_skill %>
          <div class="main-skill group-<%= @dev.role.code %>"><p><%= @dev.main_skill.long_name %></p></div>
        <% else %>
          <p class="no-skill">This user has not selected a main skills yet</p>
        <% end %>

        <% if !@dev.major_skills_by_role.empty? && !@dev.minor_skills_by_role.empty? %>
        <table class="skill-table">
          <tr>
            <td>
              <h3>Skills</h3>
            </td>
            <td>
              <h3>Role</h3>
            </td>
          </tr>
          <tr>
            <%@dev.major_skills_by_role.each do |skill|%>
              <td class="skill-table-name"><i class="fa fa-circle"></i><%= skill.long_name %></td>
              <td class="skill-table-role role-<%= skill.role.code %>"><%= skill.role.code %></td>
          </tr>
          <%end%>
        </table>
        <table class="skill-table skill-table-tertiary">
          <tr>
            <%@dev.minor_skills_by_role.each do |skill|%>
              <td class="skill-table-name"><i class="fa fa-circle-o"></i><%= skill.long_name %></td>
              <td class="skill-table-role role-<%= skill.role.code %>"><%= skill.role.code %></td>
          </tr>
          <%end%>
        </table>
        <div class="skill-table-legend">
          <p><i class="fa fa-circle"></i> Secondary Skills</p>
          <p><i class="fa fa-circle-o"></i> Tertiary Skills</p>
        </div>
          <% end %>
        <% if @dev.major_skills_by_role.empty? && @dev.minor_skills_by_role.empty? %>
        <p class="no-skill">This user has not selected any other skill yet.</p>
        <% end %>
      </div>
      <div class="col col-sm-3 portfolio">
        <% if @dev.portfolio_link? then%>
          <a class="btn-cta" href="<%= @dev.portfolio_link %>" target="_blank"><i class="fa fa-link"></i> Portfolio</a>
        <% end %>
        <% if !@dev.minor_skills_by_role.empty? %>
        <div class="profile-softwares">
          <h3>Softwares</h3>
          <ul>
            <%@dev.minor_skills_by_role.each do |software|%>
              <li><%= software.long_name %></li>
            <%end%>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
