<div class="input-field">
  <%= form.text_field :firstname, type: 'text', class: "validate"%>
  <%= form.label :firstname %>
</div>
<div class="input-field">
  <%= form.text_field :lastname, type: 'text', class: "validate"%>
  <%= form.label :lastname %>
</div>
<div class="input-field">
  <%= form.text_field :email, type: 'email', class: "validate"%>
  <%= form.label :email %>
</div>
<div class="input-field">
  <%= form.password_field :password, class: "validate"%>
  <%= form.label :password %>
</div>
<div class="input-field">
  <%= form.password_field :cpassword, class: "validate"%>
  <%= form.label :cpassword do %>Confirm password<%end%>
</div>
