<div class="iNd-input">
  <%= form.label :firstname %>
  <%= form.text_field :firstname, type: 'text', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :lastname %>
  <%= form.text_field :lastname, type: 'text', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :password %>
  <%= form.password_field :password, class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :cpassword do %>Confirm password<%end%>
  <%= form.password_field :cpassword, class: "validate"%>
</div>
