<div class="iNd-input">
  <%= form.label :firstname %>
  <%= form.text_field :firstname, type: 'text', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :lastname %>
  <%= form.text_field :lastname, type: 'text', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :password %>
  <%= form.password_field :password, class: "validate"%>
</div>
<div class="iNd-input">
  <%= form.label :cpassword do %>Confirm password<%end%>
  <%= form.password_field :cpassword, class: "validate"%>
</div>
<div class="iNd-input">
  <div class="custom-list-selectbox" >
    <%= label_tag :main_skill_id, "Primary Skills", class: "label-form" %>
    <%= form.grouped_collection_select(
      :main_skill_id,
      Role.all,
      :skills,
      :code,
      :id,
      :long_name,
      {},
      {class: "options-form primary-skills-select"}
    )%>
  </div>
</div>