<h1>skills</h1>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="ib-skill-adder mdl-card mdl-shadow--2dp ib-skill-card">
      <div class="ib-skill-adder__add mdl-card__supporting-text mdl-card--expand">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">add</i>
        </button>
      </div>

      <div class="ib-skill-adder__role_select mdl-card__supporting-text mdl-card--expand" style="display:none">
        <% @skills_by_role.keys.each do |role|%>
          <button class="ib-button mdl-button mdl-js-button mdl-js-ripple-effect" value="<%= role.id %>">
            <%= role.code %>?
          </button>
        <% end %>
      </div>

      <% @skills_by_role.each do |role, skills|%>
        <div class="ib-skill-adder__skill_select role_<%= role.id%> mdl-card__supporting-text mdl-card--expand" style="display:none">
          <% skills.each do |skill|%>
            <button class="ib-button mdl-button mdl-js-button mdl-js-ripple-effect" value="<%= skill.id %>">
              <%= skill.short_name %>?
            </button>
          <% end %>
        </div>
      <% end %>

      <div class="ib-skill-adder__type_select mdl-card__supporting-text mdl-card--expand" style="display:none">
        <button class="ib-button mdl-button mdl-js-button mdl-js-ripple-effect" value="minor">
          Good?
        </button>
        <button class="ib-button mdl-button mdl-js-button mdl-js-ripple-effect" value="major">
          Great?
        </button>
      </div>

      <div class="ib-skill-adder__cancel mdl-card__actions mdl-card--border" style="display:none">
        <div class="mdl-layout-spacer"></div>
        <!-- Icon button -->
        <button class="ib-button mdl-button mdl-js-button mdl-button--icon" >
          <i class="material-icons">undo</i>
        </button>
      </div>
    </div>
  </div>
  <% @major_skills.each do |major|%>
    <%= render 'major', dev: @dev, skill: major %>
  <% end %>
  <% @minor_skills.each do |minor|%>
    <%= render 'minor', dev: @dev, skill: minor %>
  <% end %>

</div>
