<%= render 'partials/logo_heading' %>
<%= form_tag setting_update_skills_path, method: :put do %>
<h1 data-action="tabSlide" data-section-id="test" >test</h1>
<div class="content-tab" id="test">
	<p>Simon garnier fait partie du ISIS</p>
</div>

<div>
	
	<%= render partial: "settings/skills" , locals: {prefix: "major", skillset:@major_skills, skills: @skills} %>
	<%= render partial: "settings/skills" , locals: {prefix: "minor", skillset:@minor_skills, skills: @skills} %>
	<button type="submit">Rabzor</button>
</div>

  
<% end %>
<%= debug(@skills) %>
<%= debug(@major_skills) %>