<%= form_for(@dev_software) do |f| %>
  <% if @dev_software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dev_software.errors.count, "error") %> prohibited this dev_software from being saved:</h2>

      <ul>
      <% @dev_software.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dev_id %><br>
    <%= f.text_field :dev_id %>
  </div>
  <div class="field">
    <%= f.label :software_id %><br>
    <%= f.text_field :software_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
