<%= form_for(@availability) do |f| %>
  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :availability_per_week %><br>
    <%= select("availability", "availability_per_week_id", AvailabilityPerWeek.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :availability_duration %><br>
    <%= select("availability", "availability_duration_id", AvailabilityDuration.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
