<!DOCTYPE html>
<html>
<head>
    <title>Indie Brigade</title>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'%>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'partials/og' %>
</head>
<body>
  <section class="container">
    <%= yield %>
  </section>
  <%= render 'partials/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js' %>
</body>
</html>
